
.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: lightblue;
    padding: 10px;
}

.row {
    margin: auto;
}

#field-view {
    padding-bottom: 24px;
}

#encoded-field {
    padding: 12px;
    font-size: 2em;
}

#field-canvas {
    width: 50%;
    display: block;
}

#field-descr {
    width: 30%;
    float: left;
    overflow: hidden;
}

.descr-paragraph {
    margin-bottom: 0;
}

#qr-codes{
    width:150mm;
    height:150mm;
    position:relative;
    border:1px solid black;
}
.qr-code{
    border:1px solid black;
    position:absolute;
    width:60mm;
    height:60mm;    
}
.qr-code-canvas{
    width:60mm;
    height:60mm;
}

.top{top:0; margin-top:7.5mm}
.bottom{bottom:0; margin-bottom:7.5mm}

.left{left:0; margin-left:7.5mm}
.right{right:0; margin-right:7.5mm}